@use "../sass/assets" as a;

/* Rubrik */
h1 {
  text-align: center;
  margin: 2em 0 1em;
  @include a.textGradient;
}

/* Bakgrundsfärg */
main {
  background-color: a.$grey;
}

/* In mot mitten */
div.container {
  max-width: 70%;
  margin: auto;
}

footer {
  text-align: center;
  color: a.$color1;
  padding: 1em;
  margin-top: 4em;
}

/* Media queries */

//Vid mer än 1200 gör h1 större
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }
}

//1000px eller mindre, bredda container
@media (max-width: 1000px) {
  div.container {
    max-width: 90%;
  }
}
//400px bredda mer
@media (max-width: 400px) {
  div.container {
    max-width: 98%;
  }
}
//300px bredda max
@media (max-width: 300px) {
  div.container {
    max-width: 100%;
  }
}
