@use "sass/assets" as a;

//Nollställ padding, margin och gör om box-sizing
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Maxbredd, centrera, sätt font och färg
body {
  max-width: 2300px;
  margin: auto;
  font-family: a.$spacegrotesk;
  background-color: a.$grey;
  position: relative;
  overflow-x: hidden;
}
